*{
    background-color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

#top{
    position: relative;
    width: 100%;
    height: 10vh;
}

#special{
    color: orange;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav h2{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav h2 a{
    text-decoration: none;
    color:black;
}

nav h2 a:hover{
    color: darkorange;
}

.home{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 50%;
}

.home h3{
    font-size: 50px;
    margin-bottom: 20px;
}

.home .para{
    line-height: 22px;
    padding: 10px 18px;
    background: black;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.orange{
    background: black;
    color: orange;
}

.center{
    text-align: center;
    padding-top: 30px;
}

span{
    color:orange;
}

.homeImage{
    height: 80%;
    position: absolute;
    left: 50%;
    top: 25%;
}

.homeImage .boy{
    height: 500px;
    width: 400px;
    margin: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.boy{
    border: 5px solid orange;
}